.bg-gray
  .container#featured
    .inner-content
      .row
        .col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
          h2 Continue Browsing Featured Projects
          p I've put together a few of my favorite projects. In each project I go into more detail about my process, ideas and solutions. This is by no means a list of everything I've done, so be sure to check out my #[a(href="http://www.dribbble.com/angelacreates" target="_blank") dribbble]. Enjoy! 
      .row
        .col-sm-6.col-md-4
          a.thumbnail(href='/projects/pattern-library.html')
            img(src='../images/tPatternLibrary.jpg')
            span.thumbnail-text
              span EverBank Pattern Library
        .col-sm-6.col-md-4
          a.thumbnail(href='/projects/hard-rock.html')
            img(src='../images/tHardRockHotels.jpg')
            span.thumbnail-text
              span Hard Rock Hotels
        .col-sm-6.col-md-4
          a.thumbnail(href='/projects/money-morning.html')
            img(src='../images/tMoneyMorning.jpg')
            span.thumbnail-text
              span EverBank Landing Page
        .col-sm-6.col-md-4
          a.thumbnail(href='/projects/jeans-clean-team.html')
            img(src='../images/tJeansClean.jpg')
            span.thumbnail-text
              span Jean's Clean Team
        .col-sm-6.col-md-4
          a.thumbnail(href='/projects/csx-fmla.html')
            img(src='../images/tFMLA.jpg')
            span.thumbnail-text
              span CSX Workforce Availability App