head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='HandheldFriendly' content='True')
  meta(name='MobileOptimized' content='320')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  title Angela's Portfolio
  meta(name='title' content='')
  meta(name='keywords' content='')
  meta(name='description', content='')
  meta(property='og:type' content='portfolio')
  meta(property='og:image' content='')


  script(type="text/javascript" src='//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js')



  //- <!-- Latest compiled and minified CSS -->
  link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")

  //- <!-- Latest compiled and minified JavaScript -->
  script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")

  script(type="text/javascript" src='../js/bootstrap-image-gallery.min.js')

  script(type="text/javascript" src='../js/functions.js')

  link(rel='stylesheet' href='/css/styles.css')


