nav.navbar.navbar-fixed-top
  .container
    #navbar
      ul.nav.navbar-nav.text-center
        li: a.scroll(href='#featured' data-toggle='collapse' data-target='.navbar-collapse.in') Work
        li: a(href='http://www.dribbble.com/angelacreates' target='_blank' data-toggle='collapse' data-target='.navbar-collapse.in') Dribbble
        li: a.scroll(href='/images/avanwinkle-resume.pdf' data-toggle='collapse' data-target='.navbar-collapse.in' target='_blank') Résumé