.bg-lblue
  .container
    .inner-content.text-center
      .row
        .col-md-8.col-md-offset-2
          h2 Want to see more?
          p Check out my work on #[a.dark(href='http://www.dribbble.com/angelacreates' target='_blank') dribbble].

footer.bg-black.text-center
  .container
    ul
      li
        a(href='http://www.dribbble.com/angelacreates' target='_blank') #[span.fa.fa-dribbble]
      li
        a(href='https://www.linkedin.com/in/angelacreates' target='_blank') #[span.fa.fa-linkedin]
      li
        a(href='https://github.com/angelamitchell' target='_blank') #[span.fa.fa-github]
      li
        a(href='mailto:angelacreates1@gmail.com') #[span.fa.fa-envelope-o]

script(type="text/javascript" src='//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js')
script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")
script(type="text/javascript" src='../js/swipebox.min.js')
script(type="text/javascript" src='../js/functions.js')
