.bg-lblue
  .container
    .inner-content.text-center
      .row
        .col-md-8.col-md-offset-2
          h2 Want to see more?
          p Check out my work on #[a.dark(href='http://www.dribbble.com/angelacreates' target='_blank') dribbble].

footer.bg-black.text-center
  .container
    ul
      li
        a(href='http://www.dribbble.com/angelacreates' target='_blank') #[span.fa.fa-dribbble]
      li
        a(href='https://www.linkedin.com/in/angelacreates' target='_blank') #[span.fa.fa-linkedin]
      li
        a(href='https://github.com/angelamitchell' target='_blank') #[span.fa.fa-github]
      li
        a(href='mailto:angelacreates1@gmail.com') #[span.fa.fa-envelope-o]