doctype html
include ../head/head.jade
html.home
  body
    include ../nav/nav-interior.jade

    .bg-purple
      .container
        .inner-content
          .row
            .col-md-8.col-md-offset-2
              ol.breadcrumb
                li: a(href="hard-rock.html") Hard Rock Hotels
                li: a(href="pattern-library.html") EverBank Pattern Library
              h1 EverBank Money Morning
              p.large.intro EverBank received complaints that clients didn't understand how to view the special offers.

    .container
      .inner-content
        .row
          .col-md-8.col-md-offset-2
            p: em Role: Lead Designer &amp; Front-End Developer
            h2 Process
            p Initially, meetings were set to discuss requirements and timeline. At the time of this project our brand was evolving and I took the opportunity to include some new elements such as a wider grid, different text treatments, and added card functionality.
            p Strategies were discussed with a content developer and helped with the final product. Initially, the campaign had three offers, but was designed so that more offers could be included in the future. Through these explorations, I was able to arrive at a solution which exceeded the client's expectation in terms of evolution and user experience through allowing the user to easily review the content and decide on an offer.

  .bg-lblue
    .container
      .inner-content
        .row
          .col-sm-12.col-md-12
            h2 Process Visuals
          .col-sm-6.col-md-4
            a.thumbnail.swipebox(rel='gallery1' href="../images/moneyMorningOriginal-lg.jpg" title='Original Design')
              img(src="../images/moneyMorningOriginal.jpg")
          .col-sm-6.col-md-4
            a.thumbnail.swipebox(rel='gallery1' href="../images/moneyMorningSnapshot-lg.jpg" title='Option with Company Snapshot')
              img(src="../images/moneyMorningSnapshot.jpg")
          .col-sm-6.col-md-4
            a.thumbnail.swipebox(rel='gallery1' title='Option with Video about EverBank' href="../images/moneyMorningVideo-lg.jpg")
              img(src="../images/moneyMorningVideo.jpg")
          .col-sm-6.col-md-4
            a.thumbnail.swipebox(rel='gallery1' href="../images/moneyMorningFourOffers-lg.jpg" title='Option with Additional Offers')
              img(src="../images/moneyMorningFourOffers.jpg")
          .col-sm-6.col-md-4
            a.thumbnail.swipebox(rel='gallery1' title='Final Mock Up' href="../images/moneyMorningMockUp-lg.jpg")
              img(src="../images/moneyMorningMockUp.jpg")

  .container
    .inner-content
      .row
        .col-md-8.col-md-offset-2
          h2 Final Product
          p Since implementing the new design more clients are taking advantage of the special offers and EverBank has stopped receiving calls of complaints.
          p #[a.btn.btn-default.btn-lg(href='https://everbank.com/_campaigns/investing/agr/money-morning' target='_blank') Launch Site] #[a.btn.btn-default.btn-lg(href='https://invis.io/4C73B19KB#/99064424_Money-Morning' target='_blank') Invision]

      .row
        .col-md-8.col-md-offset-2
          img.portfolio-img.width100(src='../images/pMoneyMorning.png')

  include ../footer/footer.jade
